.meghs{
    background-color:aqua;
    text-align: center;
    position: fixed;
    width: 99%;
    height: 70px;
    top: 0px;
    z-index: 2;
}
.i img{
    height: 150px;
    width: 250px;
    float: right;
    margin-top: 70px;
}
.i1 img{
    height: 150px;
    width: 250px;
    margin: 10px;
    margin-top: 70px;
}
.m img{
    height: 150px;
    float: right;
    width: 250px;
}
.m1 img{
    height: 150px;
    width: 250px;
    margin: 10px;
}
.a img{
    height: 150px;
    width: 250px;
    float: right;
}
.a1 img{
    height: 150px;
    width: 250px;
    margin: 10px;
}
.g img{
    height: 150px;
    float: right;
    width: 250px;
}
.g1 img{
    height: 150px;
    margin: 10px;
    width: 250px;
}
.e img{
    height: 300px;
    margin: 10px;
    width: 400px;
    position: absolute;
    left: 430px;
    top: 300px;
    border-radius: 5%;
}